.container
  .col-md-5
    = link_to root_path do
      = image_tag("cosmicvent.gif",:alt=>'Amair',:title=>'Amair Schedular',:class=>'navbar-brand', :style=> 'padding:0px;')
  - if user_signed_in?
    .col-md-3#create-event
      = link_to new_event_path, remote: true do
        %button.btn.btn-default
          Create Event

    .col-md-3#create-event
      = link_to destroy_user_session_path, remote: false do
        %button.btn.btn-danger
          Signout    